<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tohabit.skip">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 用于提高GPS定位速度 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" /> <!-- 如果设置了target >= 28 如果需要启动后台定位则必须声明这个权限 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /> <!-- 如果您的应用需要后台定位权限，且有可能运行在Android Q设备上,并且设置了target>28，必须增加这个权限声明 -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />  
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
     

    <application
        android:name="com.tohabit.skip.app.App"
        android:allowBackup="true"
        android:appComponentFactory="11"
        android:icon="@mipmap/ic_launcher_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:appComponentFactory"
        tools:targetApi="m">
        <activity
            android:name="com.tohabit.skip.ui.login.activity.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.tohabit.skip.ui.mine.activity.MineMainActivity"
            android:screenOrientation="portrait" />

        <!-- 解决 Android N 7.0 上 报错：android.os.FileUriExposedException -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name="com.tohabit.skip.ui.train.activity.TainMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tohabit.skip.ui.activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.tohabit.skip.ui.SearchActivty"
            android:screenOrientation="portrait" />

        <!--设备列表页面-->
        <activity
            android:name="com.tohabit.skip.ui.devicemanager.DeviceManagerActivity"
            android:screenOrientation="portrait" />

        <!--设备修改页面-->
        <activity
            android:name="com.tohabit.skip.ui.devicemanager.DevecesUpdateActivty"
            android:screenOrientation="portrait" />

        <!--我的二维码页面-->
        <activity
            android:name="com.tohabit.skip.ui.mine.fragment.MyQrCodeActivity"
            android:screenOrientation="portrait" />

        <!--扫一扫界面-->
        <activity
            android:name="com.tohabit.skip.zxing.activity.CaptureActivity"
            android:screenOrientation="portrait" />

        <!--扫码失败界面-->
        <activity
            android:name="com.tohabit.skip.ui.mine.fragment.QrCodeErrorActivty"
            android:screenOrientation="portrait" />

        <!--扫码成功页面-->
        <activity
            android:name="com.tohabit.skip.ui.mine.fragment.QrCodeSourcessActivity"
            android:screenOrientation="portrait" />

        <!--常见问题页面-->
        <activity
            android:name="com.tohabit.skip.ui.mine.fragment.FrequentlyActivty"
            android:screenOrientation="portrait" />

        <!--我的收藏-->
        <activity
            android:name="com.tohabit.skip.ui.mine.fragment.MyShouCangActivity"
            android:screenOrientation="portrait" />

        <!--活动详情界面-->
        <activity
            android:name="com.tohabit.skip.ui.find.fragment.HuodongDetailsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!--课程详情界面-->
        <activity
            android:name="com.tohabit.skip.ui.find.fragment.KeChengDetailsActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!--视频全屏界面-->
        <activity
            android:name="com.tohabit.skip.ui.find.fragment.FullVideoActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:launchMode="singleTop"
            android:screenOrientation="landscape" />

        <!--知识详情界面-->
        <activity
            android:name="com.tohabit.skip.ui.find.fragment.ZhiShiDetailsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!--商品详情界面-->
        <activity
            android:name="com.tohabit.skip.ui.find.fragment.ShopDetailsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!--商品兑换界面-->
        <activity
            android:name="com.tohabit.skip.ui.find.fragment.ExChangeShopActivity"
            android:screenOrientation="portrait" />

        <!--收货地址列表界面-->
        <activity
            android:name="com.tohabit.skip.ui.mine.fragment.MyAddressListFragment"
            android:screenOrientation="portrait" />

        <!--地址编辑页面-->
        <activity
            android:name="com.tohabit.skip.ui.mine.fragment.AddAddressFragment"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!--搜索问答界面-->
        <activity
            android:name="com.tohabit.skip.ui.find.fragment.SearchQuestionsActivity"
            android:screenOrientation="portrait" />

        <!--增加问答界面-->
        <activity
            android:name="com.tohabit.skip.ui.find.fragment.QuestionAddActivity"
            android:screenOrientation="portrait" />

        <!--问答详情页面-->
        <activity
            android:name="com.tohabit.skip.ui.find.fragment.QuestionDetailsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!--二级评论-->
        <activity
            android:name="com.tohabit.skip.ui.find.fragment.TwoPingLunActivity"
            android:screenOrientation="portrait" />

        <!--增加评论-->
        <activity
            android:name="com.tohabit.skip.ui.find.fragment.AddPingLunActivity"
            android:screenOrientation="portrait" />


        <!--成就分享详情页面-->
        <activity
            android:name="com.tohabit.skip.ui.mine.fragment.ShapeChengJiuActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!--训练计划列表页面-->
        <activity
            android:name="com.tohabit.skip.ui.mine.fragment.XunLianJiHuaActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!--跳绳页面-->
        <activity
            android:name="com.tohabit.skip.ui.mine.fragment.TakeRopeSkipActivty"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!--pk大厅页面-->
        <activity
            android:name="com.tohabit.skip.ui.young.fragment.PKHomeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!--开始PK页面-->
        <activity
            android:name="com.tohabit.skip.ui.young.fragment.PKStartActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!--统计分析页面-->
        <activity
            android:name="com.tohabit.skip.ui.young.fragment.StatisticsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!--数据报告详情页面-->
        <activity
            android:name="com.tohabit.skip.ui.young.fragment.DataDetailsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!--手动输入页面-->
        <activity
            android:name="com.tohabit.skip.ui.train.fragment.InputActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!--视频讲解页面-->
        <activity
            android:name="com.tohabit.skip.ui.young.fragment.VideoExplainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!--讲解详情页面-->
        <activity
            android:name="com.tohabit.skip.ui.young.fragment.ExplainDetailsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />


        <!--各种协议页面-->
        <activity
            android:name="com.tohabit.skip.ui.XieYiActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!--关于我们-->
        <activity
            android:name="com.tohabit.skip.ui.AboutActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!--查看大图-->
        <activity
            android:name="com.tohabit.skip.ui.BigPicutreActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <receiver android:name="com.tohabit.skip.utils.blue.btutil.PairingReceiver">
            <intent-filter>
                <action android:name="android.bluetooth.device.action.PAIRING_REQUEST" />
            </intent-filter>
        </receiver>

        <service android:name="com.tohabit.skip.service.UartService" />
    </application>

</manifest>